<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All posts</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Quora posts!</h1>
    <%for(post of posts){ %>
    <div class="post">
      <h3 class="user">@<%= post.username %></h3>
      <h4 class="content">content: <%=post.content %></h4>

      <!-- if their is an image then display it -->
      <% if (post.image) { %>   
      <img src="/uploads/<%= post.image %>" alt="Post image" style="max-width: 200px;">
      <% } %>
      
      <a href="/posts/<%= post.id %>">See in details</a>
      &nbsp;
      <a href="/posts/<%= post.id %>/edit">Edit</a>

      <br><br>
      <form action="/posts/<%= post.id%>?_method=DELETE" method="post">
        <button>DELETE POST</button>
      </form>
    </div>
    <% } %>

    <a href="/posts/new">Create new post</a>
  </body>
</html>
